/* .studentBoxes table input[type="text"]{
  width: 80px;
} */
.studentBoxes{
  width: 38%;
  background: #87CEFF;
  background-image: linear-gradient(#87CEFF,#87CEFF,#aec6cf);
}

.studentBoxes{
  width: 85%;
  margin: 10px auto;
  clear: both;
  display: block;
}

.studentBody{
  width: 70%;
}

.studentScroll{
  height: 280px;
  margin-top: 10px;
}

#topMargin{
  margin-top: 10px;
}

#CourseName{
  width: 300px;
}

.studentScroll td{
  width: 100px;
}

/*
td input{
  margin: 15px;
  width: 300px;
  padding: 15px;
}
th{
  margin: 15px;
} */
/* input[type="text", readonly]{
  width: 200px;
} */
/* .searchCourse table th{
  width: 300px;
} */
/* .setWidth300{
  column-width: 300px;
}
form input[type="text"]{
  width: 300px;
} */
tr{
  margin: 20px;
}

table{
  table-layout: auto;
}
table input[type="text"]{
  width: 80%;
  margin: 10px;
}

table th{
  white-space:nowrap;
  padding: 0px 30px;
}

.MorePadding{
  padding: 0px 70px;
}
