{% extends "layout.html" %}

{% block body %}
<div class="body2 studentBody">


<h1>Welcome {{studentID}} !</h1>

<div class="InstructorBoxes studentBoxes registeredCourses">
  {% if schedule|length >0 %}
  <h2>Daily Schedule</h2>
  <div class="Scroll studentScroll">
  <table class="setWidth300">
    <th class="MorePadding">Course Name</th><th>Section Number</th><th>Facility Code</th><th>Room Code</th><th>Start Time</th><th>End Time</th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th><th>Saturday</th><th>Sunday</th><th class="MorePadding">Course Offering ID</th><th>Drop</th>
    {% for i in range(schedule|length) %}
      <tr>
        <form class="" action="/studentScreen/dropCourse" method="post">
        <td><input id = "CourseName" type="text" name="CN" value="{{schedule[i][0]}}" readonly></td>
        <td><input type="text" name="SN" value="{{schedule[i][1]}}" readonly></td>
        <td><input type="text" name="FC" value="{{schedule[i][2]}}" readonly></td>
        <td><input type="text" name="RC" value="{{schedule[i][3]}}" readonly></td>
        <td><input type="text" name="STime" value="{{schedule[i][4]}}" readonly></td>
        <td><input type="text" name="ETime" value="{{schedule[i][5]}}" readonly></td>
        <td><input type="text" name="M" value="{{schedule[i][6]}}" readonly></td>
        <td><input type="text" name="T" value="{{schedule[i][7]}}" readonly></td>
        <td><input type="text" name="W" value="{{schedule[i][8]}}" readonly></td>
        <td><input type="text" name="Th" value="{{schedule[i][9]}}" readonly></td>
        <td><input type="text" name="F" value="{{schedule[i][10]}}" readonly></td>
        <td><input type="text" name="Sat" value="{{schedule[i][11]}}" readonly></td>
        <td><input type="text" name="Sun" value="{{schedule[i][12]}}" readonly></td>
        <td><input type="text" name="COID" value="{{schedule[i][13]}}" readonly></td>
        <td><input type="submit" name="Drop" value="Drop"></td>
          </form>
      </tr>
    {% endfor %}
  </table>
    </div>
    {% endif %}
    {% if addMsg != "" %}
      <p>{{addMsg}}</p>
    {% endif %}
</div>

<div class="InstructorBoxes studentBoxes SearchCourse">
  <h2>Search for a Course</h2>
  <form class="" action="/studentScreen/searchCourse" method="post">
    <input type="text" name="CName" placeholder="Course Name">
    <!-- <input type="text" name="TC" placeholder="Term Code"> -->
    <input type="submit" name="submit" value="Search">
  </form>

  {% if searchResults|length >0 %}
  <h2 id="topMargin">Available Courses</h2>
  <div class="Scroll studentScroll">
    <table class="setWidth300">
    <tr>  <th  class="MorePadding">Course Offering ID</th><th>Section Number</th><th class="MorePadding">Course Name</th><th>Course Limit</th><th class="MorePadding">Instructors</th><th class="MorePadding">Department Data</th><th>Facility Code ID</th><th>Room Code ID</th><th>Start Time</th><th>End Time</th><th>Monday</th><th>Tuesday</th><th>Wednesday</th><th>Thursday</th><th>Friday</th><th>Saturday</th><th>Sunday</th></tr>
      {% for i in range(searchResults|length) %}
        <tr>
          <form class="" action="/studentScreen/addCourse" method="post">
            <td><input type="text" name="COID" value="{{searchResults[i][0]}}" readonly contenteditable></td>
            <td><input type="text" name="SN" value="{{searchResults[i][1]}}" readonly></td>
            <td><input type="text" name="CN" value="{{searchResults[i][2]}}" readonly></td>
            <td><input type="text" name="CL" value="{{searchResults[i][3]}}" readonly></td>
            <td><input type="text" name="Inst" value="{{searchResults[i][4]}}" readonly></td>
            <td><input type="text" name="DD" value="{{searchResults[i][5]}}" readonly></td>
            <td><input type="text" name="FC" value="{{searchResults[i][6]}}" readonly></td>
            <td><input type="text" name="Room" value="{{searchResults[i][7]}}" readonly></td>
            <td><input type="text" name="STime" value="{{searchResults[i][8]}}" readonly></td>
            <td><input type="text" name="ETime" value="{{searchResults[i][9]}}" readonly></td>
            <td><input type="text" name="M" value="{{searchResults[i][10]}}" readonly></td>
            <td><input type="text" name="T" value="{{searchResults[i][11]}}" readonly></td>
            <td><input type="text" name="W" value="{{searchResults[i][12]}}" readonly></td>
            <td><input type="text" name="Th" value="{{searchResults[i][13]}}" readonly></td>
            <td><input type="text" name="F" value="{{searchResults[i][14]}}" readonly></td>
            <td><input type="text" name="Sat" value="{{searchResults[i][15]}}" readonly></td>
            <td><input type="text" name="Sun" value="{{searchResults[i][16]}}" readonly></td>
          <td><input type="submit" name="Add" value="Add"></td>
            </form>
        </tr>
      {% endfor %}
    </table>
  </div>
  {% endif %}
  {% if addMsg != "" %}
    <p>{{addMsg}}</p>
  {% endif %}
</div>

<div class="InstructorBoxes studentBoxes pastStats">
  <h2>Past Stats</h2>
  <form class="" action="/studentScreen/pastStats" method="post">
    <input type="text" name="CName" placeholder="Course Name">
    <input type="submit" name="submit" placeholder="Show">
  </form>
  {% if pastStats|length >0 %}
  <div class="Scroll studentScroll">
    <table>
      <th>Course Name</th><th>a%</th><th>ab%</th><th>b%</th><th>bc%</th><th>c%</th><th>d%</th><th>f%</th><th>s%</th><th>u%</th><th>cr%</th><th>n%</th><th>p%</th><th>i%</th><th>nw%</th><th>nr%</th><th>other%</th>
      {% for i in range(pastStats|length) %}
        <tr>
          <td>{{pastStats[i][0]}}</td>
          <td> {{pastStats[i][1]}}</td>
          <td> {{pastStats[i][2]}}</td>
          <td> {{pastStats[i][3]}}</td>
          <td> {{pastStats[i][4]}}</td>
          <td>{{pastStats[i][5]}}</td>
          <td> {{pastStats[i][6]}}</td>
          <td> {{pastStats[i][7]}}</td>
          <td> {{pastStats[i][8]}}</td>
          <td>{{pastStats[i][9]}}</td>
          <td> {{pastStats[i][10]}}</td>
          <td> {{pastStats[i][11]}}</td>
          <td> {{pastStats[i][12]}}</td>
          <td> {{pastStats[i][13]}}</td>
          <td> {{pastStats[i][14]}}</td>
          <td> {{pastStats[i][15]}}</td>
          <td> {{pastStats[i][16]}}</td>
        </tr>
      {% endfor %}
        </table>
  </div>
  {% endif %}
</div>

</div>




{% endblock %}
